.faq_main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

body{
    background-color: black;
}

.faq_head {
    font-size: 50px;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    font-family: 'Share Tech Mono', monospace;
    background: -webkit-linear-gradient( rgb(2, 233, 2), rgb(166, 250, 166));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    margin-left: 30px;
    margin-bottom: 20px;
}

.left{
    margin-top: 50px;
}

.right{
    padding: 30px 50px; 
}

.extra_faq{
    background: -webkit-linear-gradient( rgb(2, 233, 2), rgb(166, 250, 166));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    margin-left: 30px;
    width: 30vw;
}

.question {
    font-size: 22px;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 20px;
    width: 60vw;
    color: rgba(250, 254, 250, 0.946);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
    transform: skew(20deg);
}

.answer{
    font-size: 17px;
    width: 60vw;
    padding: 10px 50px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.749);
    letter-spacing: 0.05rem;
    font-weight: 600;
    transform: skew(20deg);
}

.faq_set {
    margin-top: 10px;
    transform: skew(-20deg);
    margin-bottom: 30px;
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 12px 0px rgb(56, 56, 56);
}

.add{
    font-size: 40px;
    padding: 0 10px;
}