@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito:ital@0;1&display=swap");

body {
  overflow: hidden;
  background: black;
  color: white;
}

.myDiv {
  padding: 0 0.5rem;
  height: 50vh;
}

.imgDiv {
  display: flex;
  justify-content: flex-end;
}

.glimpse_head {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-family: "Bakbak One", sans-serif;
}

.main_img {
  border-radius: 20px;
}

.bg_gradient1,
.bg_gradient2 {
  position: absolute;
  height: 70vh;
  width: 35vw;
  /* box-shadow: 0px 0px 300px -50px rgba(0, 124, 0, 0.976) inset; */
  box-shadow: 0 0 100px 10px #00001681, inset 0 0 100px 10px #000016e9,
    inset 0 0 200px 20px #003800cd, inset 0 0 100px 30px #000000,
    inset 0 0 100px 30px #013801, inset 0 0 100px 10px #000016db;
  border-radius: 50%;
  /* z-index: 2; */
}

.bg_gradient1 {
  left: -8%;
  top: -10%;
}

.bg_gradient2 {
  right: -11%;
  bottom: -8%;
}
