@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.custom-font {
  font-family: "CustomFont", sans-serif;
}
.about-section {
  margin-top: 5rem;
}

#about{
  background: -webkit-linear-gradient(rgb(2, 233, 2), rgb(166, 250, 166));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
}

.text{
  letter-spacing: 0.3rem;
  color: rgb(204, 252, 204);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
}

.about_box{
  background: linear-gradient(to right bottom , rgba(0, 81, 0, 0.449) , black) ;
  text-align: justify;
  padding: 2% 5%;
  width: 100%;
}