.splash-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.splash-overlay.show .splash-bar {
  transform: scale(1, 1) translate3d(0, 0, 0);
  transform-origin: 0 0;
}
.splash-overlay .splash-bar {
  position: absolute;
  width: 10.1vw;
  background: var(--background-color);
  border-right: #a1fd63;
  top: 0;
  bottom: 0;
  transform: scale(0, 1) translate3d(0, 0, 0);
  transform-origin: 100% 100%;
  transition: transform 0.5s ease-in-out;
}
.splash-overlay .splash-bar:first-of-type {
  border-left: none;
}
.splash-overlay .splash-bar:nth-of-type(1) {
  border-right: #a1fd63;
  left: 0vw;
  background: var(--background-color);
  transition-delay: 0.05s;
}
.splash-overlay .splash-bar:nth-of-type(2) {
  border-right: #a1fd63;
  left: 10vw;
  background: var(--background-color);
  transition-delay: 0.1s;
}
.splash-overlay .splash-bar:nth-of-type(3) {
  border-right: #a1fd63;
  left: 20vw;
  background: var(--background-color);
  transition-delay: 0.15s;
}
.splash-overlay .splash-bar:nth-of-type(4) {
  border-right: #a1fd63;
  left: 30vw;
  background: var(--background-color);
  transition-delay: 0.2s;
}
.splash-overlay .splash-bar:nth-of-type(5) {
  border-right: #a1fd63;
  left: 40vw;
  background: var(--background-color);
  transition-delay: 0.25s;
}
.splash-overlay .splash-bar:nth-of-type(6) {
  border-right: #a1fd63;
  left: 50vw;
  background: var(--background-color);
  transition-delay: 0.3s;
}
.splash-overlay .splash-bar:nth-of-type(7) {
  border-right: #a1fd63;
  left: 60vw;
  background: var(--background-color);
  transition-delay: 0.35s;
}
.splash-overlay .splash-bar:nth-of-type(8) {
  border-right: #a1fd63;
  left: 70vw;
  background: var(--background-color);
  transition-delay: 0.4s;
}
.splash-overlay .splash-bar:nth-of-type(9) {
  border-right: #a1fd63;
  left: 80vw;
  background: var(--background-color);
  transition-delay: 0.45s;
}
.splash-overlay .splash-bar:nth-of-type(10) {
  left: 90vw;
  border-right: #a1fd63;
  background: var(--background-color);
  transition-delay: 0.5s;
}
