@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap');
body{
    background-color:rgba(4, 11, 17, 1);
    margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrollbars */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
    width: 75%;
    border-radius: 20px;
    padding: 20px;
    margin: 15%;
    margin-top: 10%;
    position: relative;
    z-index: 2;

}

.about-us h1{
    font-family: "Bakbak One", sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    /*
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left; */

}
.about-us p{
    font-family: "Inter", sans-serif;
    line-height: 30px;
    text-align: justify;
    font-size: 25px;
}
.about-us p span{
    color: rgba(33, 231, 134, 1);
    
}

.about-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(73, 113, 255, 0.4) 0%, rgba(73, 113, 255, 0) 100%);
  }
  
  .top-left {
    width: 40%;
    height: 80%;
   clip-path:  polygon(0 0, right 1em 0, 100% 50%, right 1em 100%, 0 100%, 0 0);
    top: 0;
    left: -15%;
  }
  
  .right {
    width: 40%;
    height: 80%;
    top: 60%;
    right: -15%;
    transform: translateY(-50%);
  }