.home-wrapper {
  margin-top: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 15rem);
  overflow-y: auto;
}

@font-face {
  font-family: nicoMoji;
  src: url(../../../public/fonts/NicoMoji-Regular.ttf);
}
.home-wrapper::before {
  margin-top: 6rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 12rem);
  background-image: url("../../../public/alien.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.home-wrapper::after {
  position: absolute;
  content: "";
  top: 6rem;
  left: 0;
  /* height: 15vh; */
  background-image: url(/public/bgGreenEffect.png);
  /* filter: blur(1px); */
  /* background-size: cover; */
  /* background-position: left; */
  height: 10rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: calc(100vh - 15rem);
}
.home-wrapper .title-wrapper {
  font-family: nicoMoji;
  color: #fff;
  font-size: 5rem;
}
.home-wrapper .subtitle-wrapper {
  font-family: "Nunito";
  color: #fff;
  font-size: 1.5rem;
  width: 80%;
}
.planet-wrapper {
  height: 15rem;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .home-wrapper {
    margin-top: 5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .home-wrapper::before {
    top: -5rem;
  }
  .content-wrapper {
    width: 100%;
  }
  .home-wrapper .title-wrapper {
    font-size: 3.5rem;
    padding-bottom: 1rem;
  }
  .home-wrapper .subtitle-wrapper {
    font-size: 1.4rem;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .home-wrapper {
    margin-top: 5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .home-wrapper::before {
    top: -5rem;
  }
  .content-wrapper {
    width: 100%;
  }
  .home-wrapper .title-wrapper {
    font-size: 3.5rem;
    padding-bottom: 1rem;
  }
  .home-wrapper .subtitle-wrapper {
    font-size: 1.4rem;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .home-wrapper {
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .home-wrapper .title-wrapper {
    font-size: 3rem;
  }
  .home-wrapper .subtitle-wrapper {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .home-wrapper {
    margin-top: 5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .home-wrapper::before {
    top: -5rem;
  }
  .content-wrapper {
    width: 100%;
  }
  .home-wrapper .title-wrapper {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .home-wrapper .subtitle-wrapper {
    font-size: 1.2rem;
  }
  .planet-wrapper {
    height: 8rem;
    overflow: hidden;
  }
}
