@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.head {
  font-size: 50px;
  letter-spacing: 0.1rem;
  font-family: Poppins, sans-serif;
  font-family: "Share Tech Mono", monospace;
  background: -webkit-linear-gradient(rgb(2, 233, 2), rgb(166, 250, 166));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
  margin-left: 30px;
  margin-top: 7rem;
  margin-bottom: 20px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom , rgba(0, 53, 0, 0.462) , black);
  border:none;
  width: 60vw;
  border-radius: 20px;
}

.name,
.email,
.phone,
.nation,
.msg {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 27px;
  margin-right: 20px;
  margin-left: 20px;
}
#name,
#email,
#phone,
#nation,
#msg {
  padding: 5px 10px;
  font-size: 25px;
  color: white;
}

label {
  margin-bottom: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.1rem;
  font-family: "Share Tech Mono", monospace;
  color: var(--primary-color);
}

input,
textarea {
  font-size: 22px;
  width: 20vw;
  background: none;
  border: none;
  box-shadow: 2px 2px 20px 0px #dbedce54;
  border-radius: 10px;
  padding: 200px;
}

textarea {
  width: 42vw;
}

.msg {
  margin-top: 50px;
}

.first,
.second {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.send {
  padding: 10px 11px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: -5px;
  background : none;
  color: white;
  /* margin-bottom: 40px; */
  border: 2px solid rgb(0, 255, 21);
  font-weight: 500;
}

.send:hover {
  border: 2px double rgb(33, 169, 2);
  background-color: rgb(10, 244, 10);
  color: black;
}

.main_form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}