@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito:ital@0;1&display=swap");

.main_contact_container {
  /* background: linear-gradient(to left bottom, rgb(0, 0, 94), rgb(0, 0, 20), black); */
  height: 100%;
  color: white;
}

.contact_head {
  font-family: "Bakbak One", sans-serif;
  font-size: 4rem;
  margin-top: 3rem;
  text-align: center;
  letter-spacing: 0.05rem;
}

.contact_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
}

.left_container {
  margin-top: 1.7rem;
}

.inner_contact_head {
  font-size: 2.2rem;
  font-family: "Bakbak One", sans-serif;
}

.inner_section1 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px 0 35px 0;
}

.mail_icon {
  font-size: 2rem;
}

.contact_mail {
  font-size: 1.4rem;
  font-family: "Nunito", sans-serif;
}

.contact_mail a:hover {
  text-decoration: underline;
}

.number {
  font-size: 1.4rem;
  font-family: "Nunito", sans-serif;
}

.number1 {
  margin-top: 10px;
}

.number2 {
  margin-bottom: 35px;
}

.socials_icons {
  display: flex;
  gap: 20px;
}

.social_icon {
  margin-top: .8rem;
  font-size: 2.7rem;
  transition: all 0.3s ease-in-out;
  /* border: 2px solid white; */
  box-shadow: 0px 0px 10px -2px rgb(111, 111, 111) inset;
  padding: 10px;
  border-radius: 10px;
}

.social_icon:hover {
  transform: scale(1.2);
}

.location_section {
  margin-top: 50px;
  gap: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.location_address {
  width: 23vw;
  font-family: "Nunito", sans-serif;
}

.location_icon {
  font-size: 1.75rem;
}

.right_container {
  position: relative;
}

.right_container iframe {
  min-width: 37vw;
  height: 65vh;
  margin-top: 0.5rem;
  border-radius: 0;
  /* border: 2px solid white; */
  padding: 1.75rem;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.right_container iframe:hover {
  transform: scale(1.04);
  border: none;
  /* box-shadow: 0px 0px 15px 3px rgba(128, 128, 128, 0.417); */
}

.main_website {
  margin-top: 10px;
  text-align: left;
  margin-left: 30px;
  font-size: 1rem;
}

.footer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.footer p {
  color: rgb(156, 156, 156);
  font-size: 14px;
  letter-spacing: 0.1rem;
  font-family: "Nunito", sans-serif;
}

.main_href:hover {
  text-decoration: underline;
}

.insta:hover {
  box-shadow: 0px 0px 10px -2px rgb(252, 88, 126) inset;
  color: rgb(252, 88, 126);
}

.linked:hover {
  box-shadow: 0px 0px 10px -2px rgb(75, 153, 243) inset;
  color: rgb(75, 153, 243);
}

.twitter:hover {
  box-shadow: 0px 0px 10px -2px rgb(75, 198, 243) inset;
  color: rgb(75, 198, 243);
}

.fb:hover {
  box-shadow: 0px 0px 10px -2px rgb(8, 123, 255) inset;
  color: rgb(8, 123, 255);
}

@media only screen and (max-width: 1150px) {
  .right_container iframe {
    /* height: 50vh; */
    width: 60vw;
  }
}

@media only screen and (max-width: 900px) {
  .contact_container {
    flex-direction: column;
  }

  .right_container iframe {
    width: 80vw;
  }

  .location_address {
    width: 50vw;
    font-family: "Nunito", sans-serif;
  }

  .social_icon {
    margin-top: 1rem;
  }

  .main_website {
    text-align: center;
    margin-left: 0;
  }
}

@media only screen and (max-width: 700px) {
  .right_container iframe {
    height: 50vh;
  }
}

@media only screen and (max-width: 500px) {
  .spinner {
    margin-top: 28rem;
    margin-left: -9rem;
  }
}

@media only screen and (max-width: 500px) {
  .right_container iframe {
    height: 40vh;
  }
}

@media only screen and (max-width: 420px) {
  .spinner {
    margin-top: 31rem;
    margin-left: -9rem;
  }
}

@media only screen and (max-width: 400px) {
  .contact_head {
    font-size: 3rem;
  }

  .number {
    display: flex;
    flex-direction: column;
  }
}

/* Spinner Section */

.spinner {
  position: absolute;
  top: 40%;
  left: 65%;
  height: 13vh;
  border-radius: 50%;
  aspect-ratio: 1;
  border: 10px solid rgba(132, 131, 131, 0.157);
  border-top-color: rgb(4, 173, 246);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}