@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: 1.5rem 7%;
  box-sizing: border-box;
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

.navbar .MuiSvgIcon-root {
  display: none;
  z-index: 10;
}

.menu-show {
  display: block;
  color: white;
}

.navbar .nav-menu .MuiSvgIcon-root {
  display: none;
  z-index: 10;
  color: #000;
}

.navbar .nav-menu {
  display: flex;
  column-gap: 4rem;
  list-style: none;
}

.navbar .nav-menu li {
  font-family: "Nunito";
  font-weight: normal;
  font-size: 1.4rem;
}

.navbar .nav-menu li a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .navbar .nav-menu {
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 5rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 100vh;
    z-index: 1000;
    box-sizing: border-box;
    padding: 3rem 3rem;
    margin: 0;
    clip-path: circle(0% at 0 0);
    transition: 1s ease-in-out;
    box-sizing: border-box;
  }
  .navbar .nav-menu.menu-show {
    clip-path: circle(140.9% at 0 0);
  }
  .navbar .nav-menu li a {
    color: #fff;
  }
  .navbar .nav-menu .MuiSvgIcon-root {
    position: fixed;
    display: block;
    right: 10%;
    top: 5%;
    color: #fff;
  }
  .navbar .MuiSvgIcon-root {
    display: inline-block;

    color: #fff;
  }
  .home-section:before {
    background-position: -20rem -15rem;
  }
}
