@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  padding: 2rem 9%;
  z-index: 10;
  background-color: transparent;
}
.navbar ul {
  display: flex;
  column-gap: 3.5rem;
  color: var(--accent-color);
}
.navbar ul li {
  font-family: "Rubik Glitch";
  font-weight: normal;
  font-size: 2.5rem;
}
