@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: 1.5rem 7%;
  box-sizing: border-box;
  /* background-color: #000; */
}
.navbar .MuiSvgIcon-root {
  display: none;
  z-index: 10;
}
.navbar .nav-menu .MuiSvgIcon-root {
  display: none;
  z-index: 10;
  color: #000;
}
.navbar .nav-menu {
  display: flex;
  column-gap: 4rem;
  list-style: none;
}
.navbar .nav-menu li {
  font-family: "Nunito";
  font-weight: normal;
  font-size: 1.4rem;
}
.navbar .nav-menu li a {
  color: #fff;
  text-decoration: none;
}
