@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap');
@font-face {
  font-family: nicoMoji;
  src: url(../../../public/fonts/NicoMoji-Regular.ttf);
}
.prizes{
  background-color: rgba(4, 11, 17, 1);
  margin: 0;
  overflow: hidden;
  display: flex;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 1000px; /* Set a suitable minimum height */
  height: auto; /* Allow the height to adjust based on content */
}
.animation-started  .prize-1 {
    /* animation properties */
    animation-name: prize-1-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    /* animation-iteration-count: 1; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
    /* other properties */
    width: 25%;
    height: 30%;
    border-radius: 10px;
    position: absolute;
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
    background-image: url('../../assets/ufo.png');
    background-repeat: no-repeat;
  
  }
  
  @keyframes prize-1-animation {
    from {
      bottom: 0%;
      left: -30%;
    }
    to {
      
      bottom: 50%;
      left:-50%
    }
  }
  .animation-started  .prize-2 {
    /* animation properties */
    animation-name: ufo2-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    /* animation-iteration-count: 1; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    
    /* other properties */
    width: 25%;
    height: 30%;
    border-radius: 10px;
    position: absolute;
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
    background-image: url('../../assets/ufo.png');
    background-repeat: no-repeat;
  
  }
  
  @keyframes ufo2-animation {
    from {
      bottom: 0%;
      left: 0%;
    }
    to {
      
      bottom: 50%;
      left:-2%
    }
  }
  .animation-started   .prize-3 {
    /* animation properties */
    animation-name: ufo3-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    /* animation-iteration-count: 1; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    
    /* other properties */
    width: 25%;
    height: 30%;
    border-radius: 10px;
    position: absolute;
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
    background-image: url('../../assets/ufo.png');
    background-repeat: no-repeat;
  
  }
  
  @keyframes ufo3-animation {
    from {
      bottom: 0%;
      left: 35%;
    }
    to {
      
      bottom: 50%;
      left:46%
    }
  }
  .animation-started  .title{
    
    align-items: flex-start;
    background-image: linear-gradient(to left, #23cd6b, #373f3f);
    -webkit-background-clip: text;
    color: transparent; 
    display: inline-block; 
    font-family: Nicomoji;
font-size: 110px;
font-weight: 200;
line-height: 140px;
letter-spacing: 0em;
text-align: center;
height: fit-content;
z-index: 2; /* Adjust the value as needed */
position: relative;
margin-top: -45%;
/* Adjust the color stops as needed */
background-clip: text;
-webkit-background-clip: text; /* For compatibility with some browsers */
  }
  .animation-started  .additional-animation {
    /* Additional animation properties  */
    animation-name: additional-animation;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* Set initial state */
    opacity: 0;
    margin-left: -5%;
    margin-top:20%;
    
    /* width: 30%; */
    background-image: url('../../assets/spotlight.svg');
    background-repeat: no-repeat;


     } 

  @keyframes additional-animation {
    from {
      opacity: 0;
      bottom: 60%;
    }
    to {
      opacity: 1;
      bottom: 0%;
      height: 210%;
    }

  } 

  .animation-started  .prize-money-first{
    position: absolute;
  top: 210%;
  left: 38%;
  transform: translate(-50%, -50%);
  align-items: flex-start;
  background-image: linear-gradient(to left, #ffffff,#FFD700);
  -webkit-background-clip: text;
  color: transparent; 
  display: inline-block; 
  font-family: Nicomoji;
  
  font-size: 60px;
  font-weight: 400;
  line-height: 140px;
  letter-spacing: 0em;
  text-align: center;
 /* Additional animation properties  */
 animation-name: prize-animation;
 animation-delay: 2s;
 animation-timing-function: linear;
 animation-fill-mode: forwards;
 opacity: 0;
  }
  
  .animation-started  .prize-money-second{
    position: absolute;
  top: 210%;
  left: 38%;
  transform: translate(-50%, -50%);
  align-items: flex-start;
  background-image: linear-gradient(to left, #ffffff,#bcc6cc);
  -webkit-background-clip: text;
  color: transparent; 
  display: inline-block; 
  font-family: Nicomoji;
  
  font-size: 60px;
  font-weight: 400;
  line-height: 140px;
  letter-spacing: 0em;
  text-align: center;
 /* Additional animation properties  */
 animation-name: prize-animation;
 animation-delay: 2s;
 animation-timing-function: linear;
 animation-fill-mode: forwards;
 opacity: 0;
  }
  .animation-started  .prize-money-third{
    position: absolute;
  top: 210%;
  left: 38%;
  transform: translate(-50%, -50%);
  align-items: flex-start;
  background-image: linear-gradient(to left, #ffffff,#964B00);
  -webkit-background-clip: text;
  color: transparent; 
  display: inline-block; 
  font-family: Nicomoji;
  
  font-size: 60px;
  font-weight: 400;
  line-height: 140px;
  letter-spacing: 0em;
  text-align: center;
 /* Additional animation properties  */
 animation-name: prize-animation;
 animation-delay: 2s;
 animation-timing-function: linear;
 animation-fill-mode: forwards;
 opacity: 0;
  }
  
  @keyframes prize-animation {
    from {
      opacity: 0;

    }
    to {
      opacity: 1;
    
    }
  }



  .animation-started .prize-1 {
    animation-name: prize-1-animation;
    /* ... rest of the styles ... */
  }
  
  .animation-started .prize-2 {
    animation-name: ufo2-animation;
    /* ... rest of the styles ... */
  }
  
  .animation-started .prize-3 {
    animation-name: ufo3-animation;
    /* ... rest of the styles ... */
  }
  
  .animation-started .additional-animation {
    animation-name: additional-animation;
    /* ... rest of the styles ... */
  }
  
  .animation-started .prize-money {
    animation-name: prize-animation;
    /* ... rest of the styles ... */
  }
  .mobile-phone-prizes{
    display: none;
  }@media (max-width: 1356px) {

    .mobile-additional-animation {
 
      /* Set initial state */
      height: 100%;
      width:100%;
      margin-left: -5%;
      
      /* width: 30%; */
      background-image: url('../../assets/spotlight.svg');
      background-repeat: no-repeat;
  
  
       } 
  
    @keyframes mobile-additional-animation {
      from {
        opacity: 0;
        top: 0%;
      }
      to {
        opacity: 1;
        top: 20%;

      }
  
    } 
    .mobile-prize-1 {
      position: relative;
      height: 800px;
      width: 400px;
      border-radius: 10px;
      background-image: url('../../assets/ufo.png');
      background-repeat: no-repeat;
      display: block;
      z-index: 1;
      animation: bounceAnimation 1s infinite alternate; /* Adjust the animation duration and other properties as needed */
    }
    
    @keyframes bounceAnimation {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px); /* Adjust the bounce height as needed */
      }
    }
    .mobile-phone-prizes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  
    .prizes {
      display: none !important;
    }
    .mobile-title {
     
      align-items: flex-start;
      background-image: linear-gradient(to left, #23cd6b, #373f3f);
      -webkit-background-clip: text;
      color: transparent; 
      display: inline-block; 
      font-family: Nicomoji;
      font-size: 80px; /* Keep the intended size */
      font-weight: 400; /* Preserve the original weight */
      line-height: 140px; /* Maintain line height for legibility */
      letter-spacing: 0em; /* Keep default letter spacing */
      text-align: center; /* Center alignment for visual balance */
      display: flex; /* Allow for multi-line text if needed */
      flex-direction: column; /* Stack text vertically if multiple lines */
      align-items: center; /* Center text horizontally */
      z-index: 1; /* Maintain appropriate stacking order */
    
    }
    .mobile-money-first {
      align-items: flex-start;
      background-image: linear-gradient(to left, #ffffff,#FFD700);
      -webkit-background-clip: text;
      color: transparent; 
      display: inline-block; 
      font-family: Nicomoji;
      font-size: 60px;
      font-weight: 400;
      line-height: 140px;
      letter-spacing: 0em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1; /* or any appropriate value */
      margin-top: -180px;
    }
    .mobile-money-second {
      background-image: linear-gradient(to left, #ffffff,#bcc6cc);
      -webkit-background-clip: text;
      color: transparent; 
      display: inline-block; 
      font-family: Nicomoji;
      font-size: 60px;
      font-weight: 400;
      line-height: 140px;
      letter-spacing: 0em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1; /* or any appropriate value */
      margin-top: -180px;
    }
    .mobile-money-third {
      background-image: linear-gradient(to left, #ffffff,#964B00);
      -webkit-background-clip: text;
      color: transparent; 
      display: inline-block; 
      font-family: Nicomoji;
      font-size: 60px;
      font-weight: 400;
      line-height: 140px;
      letter-spacing: 0em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1; /* or any appropriate value */
      margin-top: -180px;
    }
  }
  

  @keyframes phone-ufo1-animation {
    from {
      left: 0%;
      top: 0%;
    }
    to {
      
      left: 50%;
      top:0%
 }
}