@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap');
.prizes{
  background-color: rgba(4, 11, 17, 1);
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 1000px; /* Set a suitable minimum height */
  height: auto; /* Allow the height to adjust based on content */
}
.animation-started  .prize-1 {
    /* animation properties */
    animation-name: prize-1-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    /* animation-iteration-count: 1; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
    /* other properties */
    width: 25%;
    height: 30%;
    border-radius: 10px;
    position: absolute;
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
    background-image: url('../../assets/ufo.png');
    background-repeat: no-repeat;
  
  }
  
  @keyframes prize-1-animation {
    from {
      bottom: 0%;
      left: -30%;
    }
    to {
      
      bottom: 50%;
      left:-50%
    }
  }
  .animation-started  .prize-2 {
    /* animation properties */
    animation-name: ufo2-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    /* animation-iteration-count: 1; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    
    /* other properties */
    width: 25%;
    height: 30%;
    border-radius: 10px;
    position: absolute;
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
    background-image: url('../../assets/ufo.png');
    background-repeat: no-repeat;
  
  }
  
  @keyframes ufo2-animation {
    from {
      bottom: 0%;
      left: 0%;
    }
    to {
      
      bottom: 50%;
      left:-2%
    }
  }
  .animation-started   .prize-3 {
    /* animation properties */
    animation-name: ufo3-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    /* animation-iteration-count: 1; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    
    /* other properties */
    width: 25%;
    height: 30%;
    border-radius: 10px;
    position: absolute;
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
    background-image: url('../../assets/ufo.png');
    background-repeat: no-repeat;
  
  }
  
  @keyframes ufo3-animation {
    from {
      bottom: 0%;
      left: 35%;
    }
    to {
      
      bottom: 50%;
      left:46%
    }
  }
  .animation-started  .title{
    align-items: flex-start;
    color: white;
    font-family: Bakbak One;
font-size: 60px;
font-weight: 400;
line-height: 140px;
letter-spacing: 0em;
text-align: center;
height: fit-content;
z-index: 2; /* Adjust the value as needed */
position: relative;
margin-top: -50%;
  }
  .animation-started  .additional-animation {
    /* Additional animation properties  */
    animation-name: additional-animation;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* Set initial state */
    opacity: 0;
    margin-left: -5%;
    margin-top:20%;
    
    /* width: 30%; */
    background-image: url('../../assets/spotlight.svg');
    background-repeat: no-repeat;


     } 

  @keyframes additional-animation {
    from {
      opacity: 0;
      bottom: 60%;
    }
    to {
      opacity: 1;
      bottom: 0%;
      height: 210%;
    }

  } 

  .animation-started  .prize-money{
    position: absolute;
  top: 210%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Bakbak One;
  font-size: 60px;
  font-weight: 400;
  line-height: 140px;
  letter-spacing: 0em;
  text-align: center;
 /* Additional animation properties  */
 animation-name: prize-animation;
 animation-delay: 2s;
 animation-timing-function: linear;
 animation-fill-mode: forwards;
 opacity: 0;
  }
  
  @keyframes prize-animation {
    from {
      opacity: 0;

    }
    to {
      opacity: 1;
    
    }
  }



  .animation-started .prize-1 {
    animation-name: prize-1-animation;
    /* ... rest of the styles ... */
  }
  
  .animation-started .prize-2 {
    animation-name: ufo2-animation;
    /* ... rest of the styles ... */
  }
  
  .animation-started .prize-3 {
    animation-name: ufo3-animation;
    /* ... rest of the styles ... */
  }
  
  .animation-started .additional-animation {
    animation-name: additional-animation;
    /* ... rest of the styles ... */
  }
  
  .animation-started .prize-money {
    animation-name: prize-animation;
    /* ... rest of the styles ... */
  }