 .title {
    color: #06F8DB;
    font-size: 64px;
    font-weight: 400;
    font-family: 'Orbitron', sans-serif;
    line-height: 80.26px;
    margin-top: 100px;
    text-align: center;
}

label {
    font-family: "Nunito";
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin-bottom: 4px;
    text-align: left;
    margin: 10px;
}


.outlined-input {
    border-color: #06F8DB !important;
}


