/* .sponsors-wrapper img {
  width: 25rem;
  position: absolute;
}

.sponsors-wrapper img:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sponsors-wrapper img:nth-child(1) {
  top: 80%;
  left: 15%;
  transform: translate(-15%, -80%);
}
.sponsors-wrapper img:nth-child(3) {
  top: 80%;
  right: 15%;
  transform: translate(15%, -80%);
}

@media screen and (max-width: 890px) {
  .sponsors-wrapper img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sponsors-wrapper img:nth-child(1) {
  position: absolute;
  top: 80%;
  left: 15%;
  transform: translate(-15%, -80%);
}
.sponsors-wrapper img:nth-child(3) {
  position: absolute;
  top: 80%;
  right: 15%;
  transform: translate(15%, -80%);
}
  .sponsors-wrapper img {
    width: 16rem;
  }
}

@media screen and (max-width: 600px) {
  .sponsors-wrapper img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sponsors-wrapper img:nth-child(1) {
  position: absolute;
  top: 80%;
  left: 15%;
  transform: translate(-15%, -80%);
}
.sponsors-wrapper img:nth-child(3) {
  position: absolute;
  top: 80%;
  right: 15%;
  transform: translate(15%, -80%);
}
  .sponsors-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    flex-wrap: wrap;
  }
  .sponsors-wrapper img:nth-child(1) {
    transform: translate(-2%, 0%);
  }
  .sponsors-wrapper img:nth-child(2) {
    transform: translate(0%, 0%);
  }
  .sponsors-wrapper img:nth-child(3) {
    transform: translate(-2%, 0%);
  }

  .sponsors-wrapper img {
    width: 13rem;
    position: static;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
  }
} */

.img_class {
  height: 20vh;
  border-radius: 15px;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.partner_text{
  position: absolute;
  color: white;
  text-align: center;
  font-size: 2rem;
  letter-spacing: .1rem;
}

@media screen and (max-width:1120px) {
  .img_class2 {
    top: 70%;
  }

  .bg_sponsors {
    height: 80vh;
  }
}

@media screen and (max-width : 1750px) {
  .partner_text{
    font-size: 1.75rem;
  }
}

@media screen and (max-width : 1480px) {
  .partner_text{
    font-size: 1.5rem;
  }
}

@media screen and (max-width : 1280px) {
  .partner_text{
    font-size: 1.25rem;
  }
}

@media screen and (max-width : 740px) {
  .partner_text{
    font-size: 1rem;
  }
}

@media screen and (max-width:640px) {
  .img_class {
    height: 10vh;
  }

  .nutorio{
    bottom: 3%;
  }

  .dubai{
    bottom: 16%;
  }

  .educat{
    bottom: 29%;
  }

  .polygon{
    bottom: 42%;
  }

  .eth{
    bottom: 68%;
  }

  .devfolio{
    bottom: 55%;
  }

  .bg_sponsors {
    height: 80vh;
  }
  .partner_text{
    display: none;
  }
}